body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial;
}

.header {
    background: #1d1e28;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    display: block;
    padding: 10px;
    background: tomato;
}

img {
    max-width: 100%;
    display: block;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}


.text1 {
    padding: 20px;
    font-size: 50px;
    text-align: center;
    justify-content: center;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-gap: 20px;
    justify-content: center;
    max-width: auto;
}

.grid1 :nth-child(n + 4) {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

p {
    font-family: Arial;
    align-content: center;
}

