.main:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.main {
    transition: all 200ms ease-in-out;
}

a:link {
    color: green;
}

a:visited {
    color: mediumseagreen;
}

a:active {
    background: darkslategray;
    text-decoration: none;
    color: greenyellow;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

p:not(.meio) {
    color: blue;
}

.api1 .api2 li:nth-child(2) {
    background: red;
}

ul li:nth-child(even) {
    background-color: rebeccapurple;
}

ul:not(.api2) li:nth-child(odd) {
    background-color: turquoise;
}

.pseudo {
    font-style: italic;
}

body {
    font-size: 10px;
}