:root {
    --gap: 2rem;
}
html {
    scroll-behavior: smooth;
}
p {
    color: white;
    font-weight: 300;
}
h3 {
    color: white;
}
h4 {
    font-weight: 600;
    color: white;
    margin-bottom: 1em;
}
h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 4rem;
}

span {
    color: #1d4ed8;
}

header {
    overflow: hidden;
}