@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
    color: white;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #111827;
    margin: 0 5vh 0 5vh;
}

nav {
    max-width: auto;
    margin: auto;
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: sticky;
    padding: 20px;
    color: #ffffff;
}

.link a:after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 25%;
    width: 0;
    height: 0.1rem;
    background-color:#1d4ed8;
    transition: all 200ms ease-in-out;
}

.link a:hover::after {
    width: 3em;
    left: 25%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1e40af;
}

header {
    max-width: auto;
    margin: auto;
    padding: 3rem 1rem;
    display: grid;
    align-items: center;
    padding-top: 2rem;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
}

header .btn {
    margin-top: 2rem;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 65rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.1;
    z-index: -100;
}

.skills h1 {
    margin-top: 3em;
    text-align: center;
    margin-bottom: 1em;
}
.grid {
    column-gap: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.grid > div {
    min-width: 25vw;
    max-width: 25vw;
    background-color: #1d4fd821;
    padding-top: 3rem;
    padding-bottom: 15vh;
    border: #1d4fd846 solid ;
    border-radius: 1rem;
    align-items: center;
}

.grid > div:hover {
    cursor: default;
    transition: all 0.5s ease;
    background-color: #0631a756;
    box-shadow: 0px 0px 25px 5px #ffffff09;
}

.grid > div > h4{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    white-space: nowrap;
}

.grid > div > p {
    margin: 30px;
}
.projectos {
    margin-bottom: 1em;
    margin-top: 3em;
    text-align: center;
}

.projects {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
}



.imgs {
    display: flex;
    gap: 4rem;
}

.imgs > div {
    min-width: 20vw;
    max-width: 20vw;
}

.imgs img {
    border-radius: 1rem;
    border: #1d4fd846 solid;   
}

.imgs > div:hover {
    cursor: pointer; 
    background-color: #0631a756;
    box-shadow: 0px 0px 25px 5px #ffffff09;
    transition: 1000ms;
    padding-bottom: 15vh;
    align-items: center;
    background-color: #1d4fd821;
    border: #1d4fd846 solid;
    border-radius: 1.2rem;
    align-items: center;
}

.projects {
    margin-bottom: 20vh;
}