
.main-bg {
    background-image: url('../img/back.svg');
    background-size: center;
    background-position: center center;
    color: var(--white-color);
    min-height: 100vh;
}
.main-content {
    margin: 0 auto;
    padding: var(--gap);
    padding: 0 auto;
}   
.menu h1 a {
    font-size: 2.3rem;
    color: var(--primary-color);
    font-weight: bolder;
}
.menu  {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 2px solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 0;
    padding-top: 0;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: #0A1128;
    position: relative;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: black;
}

.menu ul li a:after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: rgba(0, 1, 88, 0.781);
    transition: all 200ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50px;
    left: 25%;
}

.intro-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    align-items: center;
    height: 70vh;
}
.intro-text-content, .intro-img {
    display: flex;
    flex-flow: column wrap;
    font-size: 1.5em;
    justify-content: center;
}
.header-text {
        margin-bottom: 5rem;
}
.intro-img img {
    max-width: 100%;
    height: auto;
}
aside {
    text-transform: uppercase;
}