* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
:root {
    --white-color: #FFFFFF;
    --gap: 3rem;
    --primary-color: #0A1128;
    --light-gray-color: #EEEEEE;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.7rem;
}

.main-bg {
    background-image: url('../img/back.svg');
    background-size: auto;
    background-position: center center;
    color: var(--white-color);
    min-height: 100vh;
}
.main-content {
    margin: 0 auto;
    padding: var(--gap);
}

.menu  {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid var(--light-gray-color);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-bottom: 0;
    padding-top: 0;
}
.menu ul {
    display: flex;
    list-style: none;
}
.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a {
    color: black;
}

.seis {
    margin-top: auto;
}