body {
    background-color: rgb(41, 41, 41);
}


.container {
    display: flex;
    gap: 10px;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 91, 150);
}

.item {
    width: 200px;
    height: 200px;
    background-color: purple;
    text-align: center;
}


